{{ range $enum := .Enums }}
// {{ $enum.EnumName }} enum declarations
{{ if eq $enum.TypeName "int" }}
{{- /* declarations specific for int valued enums */ -}}
const (
	_{{$enum.EnumName}}NameAll = "{{ range $item := $enum.Values }}{{ if $item }}{{ $item.Value }}{{ end }}{{ end }}"
{{- range $i, $item := $enum.Values }}
{{- if eq $i 0 }}
	{{ $item.Name }} {{ $enum.EnumName }} = {{ if hasTag $enum.Tags "combined" }}1 << {{ end }}iota
{{- else }}
    {{- if $item }}
	{{ $item.Name }}
    {{- else }}
    _
    {{- end }}
{{- end }}
{{- end }}
)

var _{{ $enum.EnumName }}Names = []string{
{{- $prevIndex := 0 }}
{{- range $i, $item := $enum.Values }}{{ if $item }}
	{{- $currIndex := sumWithLen $prevIndex $item.Value }}
	{{ $i }}: _{{ $enum.EnumName }}NameAll[{{ $prevIndex }}:{{ $currIndex }}],
	{{- $prevIndex = $currIndex }}
{{- end }}{{ end }}
}

func (en {{ $enum.EnumName }}) String() string {
    if en.IsValid() {
        return _{{ $enum.EnumName }}Names[en]
    }
    return {{ knownAlias "fmt" }}.Sprintf("{{ $enum.EnumName }}(%d)", en)
}

func {{ $enum.EnumName }}Names() []string {
    temp := make([]string, len(_{{ $enum.EnumName }}Names))
    copy(temp, _{{ $enum.EnumName }}Names)
	return temp
}

func {{ $enum.EnumName }}FromString(value string) ({{ $enum.EnumName }}, bool) {
    switch value {
{{- range $i, $item := $enum.Values }}{{ if $item }}
    case _{{ $enum.EnumName }}Names[{{ $i }}]:
        return {{ $item.Name }}, true
{{- end }}{{ end }}
    }
    return -1, false
}

{{- else if eq $enum.TypeName "string" -}}
{{- /* declarations specific for string valued enums */ -}}
const (
{{- range $i, $item := $enum.Values }}
	{{ $item.Name }} {{ $enum.EnumName }} = "{{ $item.Value }}"
{{- end }}
)

func (en {{ $enum.EnumName }}) String() string {
	return string(en)
}
{{- end }}

func {{ $enum.EnumName }}Values() []{{ $enum.EnumName }} {
	return []{{ $enum.EnumName }}{
	{{- range $item := $enum.Values }}{{ if $item }}
		{{ $item.Name }},
	{{- end }}{{ end }}
	}
}

func (en {{ $enum.EnumName }}) IsValid() bool {
	{{- range $i, $item := $enum.Values -}}{{ if $item }}{{ if eq $i 0 }}
	return en == {{ $item.Name }}{{ else }} ||
		en == {{ $item.Name }}
	{{- end }}{{ end }}{{ end }}
}
{{ end -}}
